In [1]:
# Import Necessary Libraries
import pandas as pd
import seaborn as sns
import kagglehub
import os
import shutil

In [2]:
# Set target directory for dataset to download to
data_directory = os.getcwd() + '/data'
# Download most recent dataset from Kaggle and copy to data directory
shutil.copytree(kagglehub.dataset_download("nikhil1e9/netflix-stock-price"), data_directory, dirs_exist_ok=True )

'/Users/kennethinman/Desktop/Coding/python/stocks-predictor/data'

In [3]:
AMZ_daily = pd.read_csv(data_directory + '/AMAZON_daily.csv')
AMZ_monthly = pd.read_csv(data_directory + '/AMAZON_monthly.csv')
AMZ_weekly = pd.read_csv(data_directory + '/AMAZON_weekly.csv')

In [4]:
AMZ_daily['Date'] = pd.to_datetime(AMZ_daily['Date'])
AMZ_daily_inRange = AMZ_daily[(AMZ_daily['Date'].dt.year >= 2024) & (AMZ_daily['Date'].dt.year < 2025)]

In [5]:
AMZ_daily_inRange

,Date,Open,High,Low,Close,Adj Close,Volume
6701,2024-01-02,151.539993,152.380005,148.389999,149.929993,149.929993,47339400
6702,2024-01-03,149.199997,151.050003,148.330002,148.470001,148.470001,49425500
6703,2024-01-04,145.589996,147.380005,144.050003,144.570007,144.570007,56039800
6704,2024-01-05,144.690002,146.589996,144.529999,145.240005,145.240005,45124800
6705,2024-01-08,146.740005,149.399994,146.149994,149.100006,149.100006,46757100
...,...,...,...,...,...,...,...
6932,2024-12-02,209.960007,212.990005,209.509995,210.710007,210.710007,39523200
6933,2024-12-03,210.309998,214.020004,209.649994,213.440002,213.440002,32214800
6934,2024-12-04,215.960007,220.000000,215.750000,218.160004,218.160004,48745700
6935,2024-12-05,218.029999,222.149994,217.300003,220.550003,220.550003,41140200
6936,2024-12-06,220.750000,227.149994,220.600006,227.029999,227.029999,44123400